* {
  margin: 0;
  padding: 0;
}

html {
  background: #111;
}

.three {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.section {
  display: grid;
  align-items: center;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  justify-content: space-between;
  position: relative;
  font-family: "Outfit", sans-serif;
  color: #ffeded;
  font-size: 6vmin;
  padding-left: 10%;
  padding-right: 10%;

  p {
    font-size: 5vmin;
  }
}

section:nth-child(odd) {
  p {
    order: 0;
  }

  h2 {
    order: 1;
  }
}
