* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.three {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

/* Prevents scrolling and seeing beyong the end of the page */
html {
  overflow: hidden;
}
